<nav class="navbar navbar-expand-lg navbar-light bg-light mt-xl-0 mb-xl-5">
  <a class="navbar-brand" href="#">LIBRARY</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <!--      ng-if="showEditorTool" ler sonradan eklenecek videoda dikkat et-->
      <li class="nav-item" *ngIf="showEditorTool">
        <a class="nav-link" routerLink="/editor">Editor Tool</a>
      </li>
      <!--      ng-if="showEditorTool" ler sonradan eklenecek videoda dikkat et-->
      <li class="nav-item" *ngIf="showAdminTool">
        <a class="nav-link" routerLink="/admin">Admin Tool</a>
      </li>

    </ul>
  </div>
  <div>
    <fa-icon [icon]="['fas', 'user']"></fa-icon>
    {{username}}
  </div>
  <button type="button" class="btn btn-light ml-3" (click)="logout()">Log Out</button>
</nav>
