
  <div class="container container-fluid">

    <div class="card">
      <div class="card-header">
        Kitap Listesi
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" style="display: flex; justify-content: space-between">
          <span>The Log of a Cowboy - Andy Adams, 1903</span>
          <div class="ol_readapi_book"
               lccn="03012817" oclc="03544699">
          </div>
        </li>
        <li class="list-group-item" style="display: flex; justify-content: space-between">
          <span>The Montessori Method - Maria Montessori, 1912</span>
          <div class="ol_readapi_book"
               oclc="1181252">
          </div>
        </li>
        <li class="list-group-item" style="display: flex; justify-content: space-between">
          <span>Little Wars - H. G. Wells, 1913</span>
          <div class="ol_readapi_book"
               olid="OL7142194M">
          </div>
        </li>
      </ul>
    </div>


  </div>




