<div class="container container-fluid">

  <div class="card">
    <div class="card-header">
      Kitap Listesi
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item d-flex justify-content-between"
          *ngFor="let book of books; index as i; first as isFirst">
        <span>{{book.title}}</span>
        <!--          Attribute binding bu şekilde oluyor-->
        <div id="{{book.olid}}" class="ol_readapi_book" [attr.olid]="book.olid">
        </div>
      </li>
      <!--        <li class="list-group-item" style="display: flex; justify-content: space-between">-->
      <!--          <span>mee</span>-->
      <!--          <div class="ol_readapi_book" olid="OL20610682M">-->
      <!--          </div>-->
      <!--        </li>-->
    </ul>
  </div>


</div>




